body {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
}

.header-links {
    display: flex;
    gap: 10px;
}

.header-logo {
    margin-right: auto;
    margin-left: 50px;
    font-size: 24px;
}

li.header-logo {
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.section-1 {
    display: flex;
    flex: 1 1 0;
}

.left-side {
    
}